/*News-Articles*/

.container {
	display: flex;
	position: relative;
	margin: 0 auto;
	max-width: 97vw;
	max-height: 80vh;
}

.content {
	flex: 1;
	border: 1px solid black;
	overflow: hidden;
	margin: 0 1% 2.5% 1%;
}

@media (max-width: 1024px) {
	.container {
		flex-direction: column;
	}
	.content {
		min-height: 200px;
		margin: 0 0 5% 0;
	}
}

.articles {
}

article {
	height: 100px;
	margin-bottom: 30px;
	letter-spacing: 1px;

	color: black;
}

.overlay {
	background: rgba(225, 225, 225, 0.6);
	border-bottom: 1px solid black
}

.news-site {
	display: flex;
	height: 70px;
	color: black;
	border-bottom: 1px black solid;
	background: rgba(225, 225, 225, 0.6);
}

.news-site h2 {
	margin: auto;
	font-size: 3rem;
}

.article-date {
	display: block;
	margin: 0 10% 0 0;
	text-align: left;
	font-size: 0.6rem;
	letter-spacing: 1px;
	font-weight: 730;
	background: rgba(225, 225, 225, 0.7);
}

.article-headline {
	height: 35px;
	margin: 0 0 0 5%;
	padding: 0 0 0 5%;
	text-align: left;
	font-size: 1.2rem;
	background: rgba(225, 225, 225, 0.5);
	overflow: hidden;
	font-family: 'Tajawal', sans-serif;
	font-weight: 900;
}

.article-link {
	display: block;
	position: relative;
	margin: 0 0 0 5%;
	padding: 0 0 0 5%;
	background: rgba(225, 225, 225, 0.5);
	text-align: left;
	text-decoration: none;
	font-weight: 900;
	color: black;
}

#cnn-content {
	background: rgba(139, 0, 0, 0.6);
}

#cnn-content .news-site {
	font-family: 'Righteous', cursive;
}

#fox-content {
	background-color: rgba(70, 130, 180, 0.6);
}

#fox-content .news-site {
	font-family: 'Rammetto One', cursive;
	letter-spacing: 2px;
}

#breitbart-content {
	background-color: rgba(255, 69, 0, 0.6);
}

#breitbart-content .news-site {
	font-family: 'Oswald', sans-serif;
}

#msnbc-content {
	background-color: rgba(192, 192, 192, 0.6);
}

#msnbc-content .news-site {
	font-family: 'Balthazar', serif;
}

.headline {
	position: relative;
	margin-top: 2rem;
}

.text {
	padding: 0 20px;
}

/*Loading Spinner*/

.spinner-overlay {
	position: relative;
	display: block;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0);
}

.loading-spinner {
	display: block;
	margin: auto;
	height: 100px;
	width: 100px;
	animation: loading-spinner infinite 20s linear;
}

@keyframes loading-spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
